.page {
	color: #666;
}

.frame {
	background-color: #fff;
	margin: auto;
	padding: 20px;
	width: 975px;
}

.content {
	width: 775px;
	padding: 30px;
	margin-left: 60px;
}

h1 {
	font-family: Georgia;
	font-weight: Bold;
	font-size: 42px;
	line-height: 1;
	color: #930;
}

p {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.8;
	color: #333;
}

.dividers {
	line-height: 1px;
	color: #e5e5e5;
}

.source {
	font-style: italic;
}

.listtitle {
	font-family: Georgia;
	font-weight: Bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1;
	color: #999;
}

.link {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.8;
	color: #930;
}

h2 {
	font-family: Georgia;
	font-weight: Bold;
	font-size: 28px;
	line-height: 1;
	color: #333;
}

h3 {
	font-family: Georgia;
	font-weight: Bold;
	font-style: italic;
	font-size: 22px;
	line-height: 1;
	color: #333;
}

.list {
	font-family: Helvetica;
	font-style: italic;
	font-size: 14px;
	line-height: 1.8;
	color: #333;
}

.quote {
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	line-height: 1.8;
	color: #333;

	margin-left: 0;

	background-color: #f6f6f6;
	padding: 30px;

	border-left: 10px solid #e3e3e3;
}



















